body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f8ff;
  color: #333;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;  
  align-items: center;
  min-height: 100vh;
  gap: 20px; /* Add some margin between each section */
}

#timerDisplay {
  margin-top: 20px;
  background-color: #e0f2f7; /* Light blue */
  padding: 20px; /*Add more padding to the timer display box */
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1.5em;
  width: 100%;
  max-width: 600px;
  font-weight: bold;
}

#timerDisplay span {
  font-size: 2.5em; /* Make the numbers of the timer bigger */
  margin-left: 10px; /* add more margin between the timer name and the timer number */
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 800px;
}

input:invalid {
  border: 2px solid #ffcccc; /* Light red */
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 10px;
  flex: 1 1 250px; /* Allow items to grow and shrink */
}

input[type="text"],
input[type="number"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
}

.timerRows{
  display: flex;
  flex-direction: column;
  width: 100%;
}


.add-button {
  background-color: #4caf50; /* Green */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

.add-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.add-button:hover {
  background-color: #45a049;
}